/*
 Theme Name: Ringsted Lilleskole
 Description: Childtheme
 Author: Morten Andersen
 Author URI: https://www.hjemmesider.dk
 Template: web
 Version: 1
 */
:root {
  --body-bg: #f0f0f0;
  --body-font: #333;
  --header-phone: #c8d3d4;
  --header-tablet: #c8d3d4;
  --header-desktop: #c8d3d4;
  --main-bg: #fff;
  --page-footer-bg: transparent;
  --page-footer-font: #333;
  --link: #0073e5;
  --link-hover: #111;
  --border: #eee;
  --blockquote: rgba(0, 0, 0, .1);
  --menu-desktop-bg: #c8d3d4;
  --menu-desktop-font: #222;
  --menu-desktop-sub-font: #fff;
  --menu-desktop-sub-bg: #BE1E2D;
  --menu-desktop-sub-hover-bg: rgba(0, 0, 0, .2);
  --menu-desktop-sub-pad-side: 1rem;
  --menu-desktop-sub-border: #eee;
  --menu-desktop-sub-current-bg: rgba(0, 0, 0, .3);
  --menu-desktop-sub-current-font: #fff;
  --menu-mobile-bg: #262626;
  --menu-mobile-sub-bg: rgba(0, 0, 0, .2);
  --menu-mobile-border: #b2b2b2;
  --menu-mobile-trigger-bg: transparent;
  --menu-mobile-trigger-active-bg: #b88a0852;
  --menu-mobile-trigger-font: #fff;
  --menu-mobile-trigger-active-font: #fff;
  --menu-icon: #111;
  --menu-icon-hover: #555;
  --menu-icon-close: #fff;
  --bg-color-1: #BE1E2D;
  --bg-color-font-1: #fff;
  --bg-color-2: #DB6102;
  --bg-color-font-2: #fff;
  --bg-color-3: #F2C10F;
  --bg-color-font-3: #333;
  --bg-color-4: #9ADB02;
  --bg-color-font-4: #333;
  --bg-color-5: #02F948;
  --bg-color-font-5: #333;
  --parallax-font: #222;
  --mobile-search-border: #b2b2b2;
  --mobile-search-text-bg: #444;
  --mobile-search-text-font: #fff;
  --mobile-search-text-focus-bg: #666;
  --mobile-search-submit-bg: #999;
  --mobile-search-submit-font: #222; }

.name {
  text-align: center;
  flex: 1;
  font-size: .9rem;
  text-transform: uppercase;
  color: #be1e2d;
  font-weight: bold;
  max-width: 100px; }

.a-center {
  padding: 1rem 2rem 0 2rem;
  max-width: 1100px;
  margin: 0 auto; }

.page-header {
  padding: 0; }

.sticky-header {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-top: .5rem solid #caaa0e; }

.intranet-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-1); }

@media (min-width: 500px) {
  .intranet-menu {
    flex-direction: row-reverse; } }

.intranet-menu a.intra {
  display: inline-block;
  color: #fff;
  padding: .5rem 1rem .5rem 2.5rem;
  background-image: url(img/www.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom: 1px solid #fff;
  transition: .5s background-color; }

.intranet-menu a.intra:last-of-type {
  border-bottom: none; }

@media (min-width: 500px) {
  .intranet-menu a.intra {
    border-bottom: none;
    border-left: 1px solid #fff; } }

.intranet-menu a.intra:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.intranet-menu .social {
  display: flex;
  margin: 0 auto 0 0;
  align-items: center;
  display: none; }

.intranet-menu .social a {
  width: 50px; }

.intranet-menu .social a img {
  margin: 0 auto;
  height: 1rem; }

@media (min-width: 500px) {
  .intranet-menu .social {
    display: flex; } }

@media (min-width: 1100px) {
  .menu {
    align-self: flex-end; }
  .menu .has-sub {
    background-image: url(img/has-sub.svg); } }

.front-parallax {
  background-image: url(img/ringsted-parallax.jpg);
  color: #fff;
  text-align: right;
  text-shadow: 1px 1px #7d7c7c; }

.page-footer .menu li {
  border-bottom: 1px solid #bfbfbf; }
